<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>01-tadeu-ProjetoJSPJDev</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>estado</param-name>
    <param-value>paraná</param-value>
  </context-param>
  <filter>  	
    <filter-name>filter</filter-name>    
    <filter-class>br.com.projetojsp.filter.WebFilterApp</filter-class>
  </filter>
</web-app>